<div class="x_panel">
	<div class="inventories x_content">
	  <div class="dataTables_wrapper">
		<div class="breadcrumb-section">
		  <ul class="breadcrumb">
			<li>
			  <a routerLink="/">Home</a>
			</li>
			<li>Users</li>
		  </ul>
		</div>
		<!-- <div class="row">
		  <div class="col-xs">
			<div class="search-iput">
			  <input type="button" class="ui-btn btn-primary search-submit-btn" value="Search" (click)="searchItem(params.search)">
			  <div class="form-group">
				<input type="text" name="search" [(ngModel)]="params.search" class="ui-input form-control" (keyup.enter)="searchItem(params.search);">
			  </div>
			</div>
		  </div>
		</div>
		<div class="row">
		  <div class="form-inline table-meta">
			<div class="col-left">
			  <div class="dataTables_length">
				<label for="">
				  Show
				  <select class="form-control ui-input small" [(ngModel)]="params.per_page" (change)="updatePerpage(params.per_page)">
					<option value="50">50</option>
					<option value="100">100</option>
				  </select>
				</label>
			  </div>
			</div>
			<div class="col-right text-right">
			  <a class="btn btn-dark btn-sm" routerLink="/users/create" [style.margin]="0">
				<i class="fa fa-plus" aria-hidden="true"></i>
			  </a>
			</div>
		  </div>
		</div> -->
		<div class="row">
		  <table class="table table-striped table-bordered dataTable no-footer">
			<thead>
			  <tr>
				<th>ID</th>
				<th>Avatar</th>
				<th>Gender</th>
				<th>Name</th>
				<th>Email</th>
				<th>Phone Number</th>
				<th>Status</th>
				<th>Actions</th>
			  </tr>
			</thead>
			<tbody>
			  <tr *ngFor="let item of users">
				<td>{{ item.id }}</td>
				<td>
				  <img class="avatar" src="{{ item.avatar }}" *ngIf="item.avatar !== ''">
				</td>
				<td>{{ item.gender === 1 ? 'Men' : 'Women' }}</td>
				<td>{{ item.first_name }} {{ item.last_name }}</td>
				<td>{{ item.email }}</td>
				<td>{{ item.phone_number }}</td>
				<td>{{ item.status === 1 ? 'Active' : 'Pending' }}</td>
				<td>
				  <a class="btn btn-primary btn-sm" routerLink="/users/{{ item.id }}/edit">
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
				  </a>
				  <button class="btn btn-dark btn-sm" (click)="deleteUser(item)">
					<i class="fa fa-trash" aria-hidden="true"></i>
				  </button>
				</td>
			  </tr>
			</tbody>
		  </table>
		</div>
		<!-- <app-pagination (goPage)="goToPage($event)" (goNext)="onNext()" (goPrev)="onPrev()" [page]="params.page" [perPage]="params.per_page" [pagesToShow]="pages_to_show" [count]="total"></app-pagination> -->
	  </div>
	</div>
  </div>
  