@mixin bulkSection {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}

.table-meta {
  clear: both;
  
  .table-actions {
    display: table;
    width: 100%;

    .col-left {
      float: left;
    }

    .col-right {
      float: right;
    }
  }
}

.bulk {
  clear: both;
  margin: 30px 0;

  .col-bulk {
    @include bulkSection;
  }

  .bulk-submit {
    margin-top: 20px;
  }

  .bulk-item {
    margin-bottom: 3px;
    
    .fa {
      cursor: pointer;
    }
  }
}