.ui-btn {
  color: #fff;
  transition: all 0.2s;
  border-radius: 4px;
  display: inline-block;
  border-width: 1px;
  border-color: transparent;
  border-style: solid;

  &:hover,
  &:focus {
    outline: 0;
    text-decoration: none;
  }

  &.btn-orange {
    color: #fff;
    background-color: $red;
    &:hover {
      background-color: #f16b60;
      border-color: #f16b60;
      opacity: 0.9;
    }
  }

  &.btn-green {
    background-color: $green;
  }

  &.btn-blue {
    background-color: #0069d9;
    border-color: #0062cc;
  }

  &.btn-active-white {
    border-color: $grey-color;
    color: $grey-color;
    &:hover {
      background: $grey-color;
      color: #fff;
    }
  }
  &.btn-white {
    background: #fff;
    color: #f08150;
  }
  &.btn-slim-border {
    border-width: 1px;
  }
  &.btn-transparent {
    background-color: transparent;
    border-color: $red;
    color: $red;
  }
  &.btn-full-width {
    width: 100%;
  }
  &.btn-large {
    font-size: 20px;
  }
  &.btn-small {
    font-size: $fontsize-normal;
    padding: 5px 7px;
  }
  &.btn-text-large {
    font-size: 17px;
  }
  &.disabled {
    opacity: 0.5;
  }
}

.ui-btn-sm {
  padding: 3px 7px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 2px;
}
