body {
  font-size: 14px;
}

.main_container {
  margin-top: 58px;
  background-color: $bgColor;
  font-size: 14px;
}

table {
  th,
  td {
    font-size: 14px;
  }
}

.dataTables_paginate li button {
  padding: 6px 9px!important;
  background: #ddd!important;
  border-color: #ddd!important;
}

.pagination>li:last-child>button,
.pagination>li:last-child>span {
  border-radius: 0 4px 4px 0;
}

.pagination>li:first-child>button,
.pagination>li:first-child>span {
  margin-left: 0;
  border-radius: 4px 0 0 4px;
  margin-right: 0;
}

.pagination>.disabled>button {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}

.pagination>li>button,
.pagination>li>span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.errors {
  color: #e74c3c;
}

.search-iput {
  .search-submit-btn {
    float: right;
  }
  .form-group {
    overflow: hidden;
    padding-right: 20px;
  }
}

.select-component {
  min-height: 150px;
}
