.sidebar {
  width: 100%;
  
  .profile {
    padding: 20px 0;
    border-bottom: 1px solid $greyLight;
    margin-bottom: 20px;

    .profile_pic {
      float: none;
      text-align: center;
      display: inline-block;
      vertical-align: middle;

      .fa-user-circle-o {
        font-size: 40px;
      }
    }

    .profile_info {
      float: none;
      display: inline-block;
      vertical-align: middle;
      padding: 0;
      width: 60%;
    }
  }

}