.ui-btn {
  padding-left: 15px;
  padding-right: 15px;
  height: 40px;
}
.ui-input {
  &.form-control {
    height: 40px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 0px;
    box-shadow: none;
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  &.small {
    height: 32px;
  }
}
