<!-- <loader></loader> -->
<!-- Docs master nav -->
<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
  <div class="top_nav">
    <div class="nav_menu">
      <nav>
        <div class="nav toggle">
          <a id="menu_toggle">
            <i class="fa fa-bars"></i>
          </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li class="">
            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <i aria-hidden="true" class="fa fa-user-circle-o"></i> Admin
              <span class="fa fa-angle-down"></span>
            </a>
            <ul class="dropdown-menu dropdown-usermenu pull-right">
              <!-- <li>
                <a href="javascript:;"> Profile</a>
              </li>
              <li>
                <a href="javascript:;">
                  <span class="badge bg-red pull-right">50%</span>
                  <span>Settings</span>
                </a>
              </li>
              <li>
                <a href="javascript:;">Help</a>
              </li> -->
              <!-- <li>
                <a (click)="logout()">
                  <i class="fa fa-sign-out pull-right"></i> Log Out</a>
              </li> -->
            </ul>
          </li>
          <!-- <li role="presentation" class="dropdown">
            <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-envelope-o"></i>
              <span class="badge bg-green">6</span>
            </a>
            <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
              <li>
                <a>
                  <span class="image">
                    <img src="images/img.jpg" alt="Profile Image">
                  </span>
                  <span>
                    <span>John Smith</span>
                    <span class="time">3 mins ago</span>
                  </span>
                  <span class="message">
                    Film festivals used to be do-or-die moments for movie makers. They were where...
                  </span>
                </a>
              </li>
              <li>
                <a>
                  <span class="image">
                    <img src="images/img.jpg" alt="Profile Image">
                  </span>
                  <span>
                    <span>John Smith</span>
                    <span class="time">3 mins ago</span>
                  </span>
                  <span class="message">
                    Film festivals used to be do-or-die moments for movie makers. They were where...
                  </span>
                </a>
              </li>
              <li>
                <a>
                  <span class="image">
                    <img src="images/img.jpg" alt="Profile Image">
                  </span>
                  <span>
                    <span>John Smith</span>
                    <span class="time">3 mins ago</span>
                  </span>
                  <span class="message">
                    Film festivals used to be do-or-die moments for movie makers. They were where...
                  </span>
                </a>
              </li>
              <li>
                <a>
                  <span class="image">
                    <img src="images/img.jpg" alt="Profile Image">
                  </span>
                  <span>
                    <span>John Smith</span>
                    <span class="time">3 mins ago</span>
                  </span>
                  <span class="message">
                    Film festivals used to be do-or-die moments for movie makers. They were where...
                  </span>
                </a>
              </li>
              <li>
                <div class="text-center">
                  <a>
                    <strong>See All Alerts</strong>
                    <i class="fa fa-angle-right"></i>
                  </a>
                </div>
              </li>
            </ul>
          </li> -->
        </ul>
      </nav>
      <a class="navbar-brand" style="color: #ddd !important">VietArtist Admin</a>
    </div>
  </div>
</header>
<div class="container body">
  <div class="main_container">
    <div id="layout">
      <div class="col-md-3 left_col">
        <div class="left_col scroll-view sidebar">
          <div class="profile">
            <!--img_2 -->
            <div class="profile_pic">
              <i class="fa fa-user-circle-o" aria-hidden="true"></i>
            </div>
            <div class="profile_info">
              <span>Welcome,</span>
              <h2>Admin</h2>
            </div>
          </div>
          <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
              <h3>General</h3>
              <ul class="nav side-menu">
                <li *ngFor="let item of menus" routerLinkActive="active">
                  <a routerLink="{{ item.url }}">
                        <i class="{{ item.icon }}"></i>
                        <span class="text">{{ item.label }}</span>
                      </a>
                </li>
                <!-- <li>
                  <a>
                    <i class="fa fa-home"></i> Home
                    <span class="fa fa-chevron-down"></span>
                  </a>
                  <ul class="nav child_menu">
                    <li>
                      <a href="index.html">Dashboard</a>
                    </li>
                    <li>
                      <a href="index2.html">Dashboard2</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a>
                    <i class="fa fa-edit"></i> Forms
                    <span class="fa fa-chevron-down"></span>
                  </a>
                  <ul class="nav child_menu">
                    <li>
                      <a href="form.html">General Form</a>
                    </li>
                    <li>
                      <a href="form_advanced.html">Advanced Components</a>
                    </li>
                    <li>
                      <a href="form_validation.html">Form Validation</a>
                    </li>
                    <li>
                      <a href="form_wizards.html">Form Wizard</a>
                    </li>
                    <li>
                      <a href="form_upload.html">Form Upload</a>
                    </li>
                    <li>
                      <a href="form_buttons.html">Form Buttons</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a>
                    <i class="fa fa-desktop"></i> UI Elements
                    <span class="fa fa-chevron-down"></span>
                  </a>
                  <ul class="nav child_menu">
                    <li>
                      <a href="general_elements.html">General Elements</a>
                    </li>
                    <li>
                      <a href="media_gallery.html">Media Gallery</a>
                    </li>
                    <li>
                      <a href="typography.html">Typography</a>
                    </li>
                    <li>
                      <a href="icons.html">Icons</a>
                    </li>
                    <li>
                      <a href="glyphicons.html">Glyphicons</a>
                    </li>
                    <li>
                      <a href="widgets.html">Widgets</a>
                    </li>
                    <li>
                      <a href="invoice.html">Invoice</a>
                    </li>
                    <li>
                      <a href="inbox.html">Inbox</a>
                    </li>
                    <li>
                      <a href="calendar.html">Calendar</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a>
                    <i class="fa fa-table"></i> Tables
                    <span class="fa fa-chevron-down"></span>
                  </a>
                  <ul class="nav child_menu">
                    <li>
                      <a href="tables.html">Tables</a>
                    </li>
                    <li>
                      <a href="tables_dynamic.html">Table Dynamic</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a>
                    <i class="fa fa-bar-chart-o"></i> Data Presentation
                    <span class="fa fa-chevron-down"></span>
                  </a>
                  <ul class="nav child_menu">
                    <li>
                      <a href="chartjs.html">Chart JS</a>
                    </li>
                    <li>
                      <a href="chartjs2.html">Chart JS2</a>
                    </li>
                    <li>
                      <a href="morisjs.html">Moris JS</a>
                    </li>
                    <li>
                      <a href="echarts.html">ECharts </a>
                    </li>
                    <li>
                      <a href="other_charts.html">Other Charts </a>
                    </li> 
                  </ul>
                </li> -->
              </ul>
            </div>
            <!-- <div class="menu_section">
              <h3>Live On</h3>
              <ul class="nav side-menu">
                <li>
                  <a>
                    <i class="fa fa-bug"></i> Additional Pages
                    <span class="fa fa-chevron-down"></span>
                  </a>
                  <ul class="nav child_menu">
                    <li>
                      <a href="e_commerce.html">E-commerce</a>
                    </li>
                    <li>
                      <a href="e_commerce_backend.html">E-commerce Backend</a>
                    </li>
                    <li>
                      <a href="projects.html">Projects</a>
                    </li>
                    <li>
                      <a href="project_detail.html">Project Detail</a>
                    </li>
                    <li>
                      <a href="contacts.html">Contacts</a>
                    </li>
                    <li>
                      <a href="profile.html">Profile</a>
                    </li>
                    <li>
                      <a href="real_estate.html">Real Estate</a>
                    </li>

                  </ul>
                </li>
                <li>
                  <a>
                    <i class="fa fa-windows"></i> Extras
                    <span class="fa fa-chevron-down"></span>
                  </a>
                  <ul class="nav child_menu">
                    <li>
                      <a href="page_404.html">404 Error</a>
                    </li>
                    <li>
                      <a href="page_500.html">500 Error</a>
                    </li>
                    <li>
                      <a href="coming_soon.html">Coming Soon</a>
                    </li>
                    <li>
                      <a href="plain_page.html">Plain Page</a>
                    </li>
                    <li>
                      <a href="login.html">Login Page</a>
                    </li>
                    <li>
                      <a href="sign_up.html">SignUp Page</a>
                    </li>
                    <li>
                      <a href="pricing_tables.html">Pricing Tables</a>
                    </li>

                  </ul>
                </li>
                <li>
                  <a>
                    <i class="fa fa-laptop"></i> Landing Page
                    <span class="label label-success pull-right">Coming Soon</span>
                  </a>
                </li>
              </ul>
            </div> -->
          </div>
          <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
              <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
              <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <!-- <a data-toggle="tooltip" data-placement="top" title="Logout" (click)="logout()">
              <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a> -->
          </div>
        </div>
      </div>
      <!-- sample code for content -->
      <div class="right_col" role="main">
        <router-outlet></router-outlet>
      </div>
      <!-- sample code for content -->
      <footer>
        <div class="pull-right">
          VietArtist Admin -
          <small>v1.0.0</small>
        </div>
        <div class="clearfix"></div>
      </footer>
    </div>
  </div>
</div>
