<div class="x_panel">
	<div class="">
		<ul class="breadcrumb">
			<li>
				<a routerLink="/">Home</a>
			</li>
			<li>
				<a routerLink="/users">Users</a>
			</li>
			<li>Edit User</li>
		</ul>
	</div>
	<div>
		<h3>Edit User</h3>
		<form novalidate [formGroup]="userForm" (ngSubmit)="onSubmit()">
			<fieldset class="form-group">
				<label for="email">Email</label>
				<input class="form-control form-control-lg"
				  formControlName="email"
				  type="text"
				  placeholder="Email" />
			</fieldset>
			<fieldset class="form-group">
				<label for="first_name">First name</label>
				<input class="form-control form-control-lg"
				  formControlName="first_name"
				  type="text"
				  placeholder="First name" />
			</fieldset>
			<fieldset class="form-group">
				<label for="last_name">Last name</label>
				<input class="form-control form-control-lg"
					formControlName="last_name"
					type="text"
					placeholder="Last name" />
			</fieldset>
			<fieldset class="form-group">
				<label for="avatar">Avatar</label>
				<input class="form-control form-control-lg"
					formControlName="avatar"
					type="text"
					placeholder="Avatar" />
				<img *ngIf="user.avatar" src="{{ user.avatar }}" alt="">
			</fieldset>
			<fieldset class="form-group">
				<label for="phone_number">Phone number</label>
				<input class="form-control form-control-lg"
					formControlName="phone_number"
					type="text"
					placeholder="Phone number" />
			</fieldset>
			<fieldset class="form-group">
				<label for="description">Description</label>
				<input class="form-control form-control-lg"
					formControlName="description"
					type="text"
					placeholder="Description" />
			</fieldset>
			<fieldset class="form-group">
				<label for="status">Status</label>
				<input class="form-control form-control-lg"
					formControlName="description"
					type="checkbox"
					placeholder="Status" />
			</fieldset>
			<div formArrayName="array_test">
				<div *ngFor="let item of arrayTest.controls; let i = index" [formGroupName]="i">
					<fieldset class="form-group">
						<label for="status">Array item 1</label>
						<input class="form-control form-control-lg"
							formControlName="item_1"
							type="text"
							placeholder="" />
					</fieldset>
					<fieldset class="form-group">
						<label for="status">Array item 2</label>
						<input class="form-control form-control-lg"
							formControlName="item_2"
							type="text"
							placeholder="" />
					</fieldset>
					<fieldset class="form-group">
						<label for="status">Array item 3</label>
						<input class="form-control form-control-lg"
							formControlName="item_3"
							type="text"
							placeholder="" />
					</fieldset>
					<button (click)="removeArrayItem(i)">Delete</button>
				</div>
			</div>
			<button (click)="addArrayItem()">Add Array item</button>
			<button type="submit" [disabled]="!userForm.valid" >Submit</button>
		</form>
	</div>
</div>
